In [1]:
import numpy as np
import pandas as pd

In [2]:
countries={ 'Austria': 'AT', 'Belgium': 'BE',  'Bulgaria': 'BG', 'Switzerland': 'CH', 'Czech Republic': 'CZ', 'Croatia': 'HR',  'Germany': 'DE', 'Denmark': 'DK', 'Estonia': 'EE', 'Spain': 'ES', 'Finland': 'FI', 'France': 'FR',  'Greece': 'GR', 'Hungary': 'HU', 'Ireland': 'IE', 'Italy': 'IT', 'Lithuania': 'LT', 'Latvia': 'LV', 'Montenegro': 'ME','Netherlands': 'NL', 'Norway': 'NO', 'Poland': 'PL', 'Portugal': 'PT', 'Serbia': 'RS', 'Sweden': 'SE', 'Slovenia': 'SI', 'Slovakia': 'SK', 'United Kingdom': 'UK'}

abbr_list=list(countries.values())

In [2]:
fuels=['Biomass', 'Fossil Brown coal/Lignite', 'Fossil Coal-derived gas', 'Fossil Gas', 'Fossil Hard coal', 'Fossil Oil', 'Fossil Oil shale', 'Fossil Peat', 'Geothermal', 'Hydro Pumped Storage', 'Hydro Pumped Storage', 'Hydro Run-of-river and poundage', 'Hydro Water Reservoir', 'Marine', 'Nuclear', 'Other', 'Other renewable', 'Solar', 'Waste', 'Wind Offshore', 'Wind Onshore']

In [123]:
df=pd.read_csv('../Data Sources/ENTSO-E/Transmission/DK-NL.csv')

In [63]:
df = pd.read_csv('../Data Sources/ENTSO-E/Load/Germany.csv')
df

,Time (CET),Day-ahead Total Load Forecast [MW] - Germany (DE),Actual Total Load [MW] - Germany (DE)
0,01.01.2019 00:00 - 01.01.2019 00:15,43769.0,43671.0
1,01.01.2019 00:15 - 01.01.2019 00:30,43572.0,43195.0
2,01.01.2019 00:30 - 01.01.2019 00:45,43025.0,42704.0
3,01.01.2019 00:45 - 01.01.2019 01:00,42487.0,42481.0
4,01.01.2019 01:00 - 01.01.2019 01:15,41978.0,42139.0
...,...,...,...
35039,31.12.2019 22:45 - 31.12.2019 23:00,49636.0,45675.0
35040,31.12.2019 23:00 - 31.12.2019 23:15,48812.0,45108.0
35041,31.12.2019 23:15 - 31.12.2019 23:30,48087.0,44751.0
35042,31.12.2019 23:30 - 31.12.2019 23:45,47442.0,44355.0
35043,31.12.2019 23:45 - 01.01.2020 00:00,46966.0,44166.0

In [73]:
df = df.drop(range(8552, 8556)).reset_index(drop=True)
df.loc[df['Actual Total Load [MW] - Germany (DE)'] == 0]

Empty DataFrame
Columns: [Time (CET), Day-ahead Total Load Forecast [MW] - Germany (DE), Actual Total Load [MW] - Germany (DE)]
Index: []

In [3]:
df = pd.read_csv('temp.csv')
df

   A --> B  A <-- B  B --> A
0        1        5      NaN
1        2        4      NaN
2        3        3      NaN
3        4        2      NaN
4        5        1      NaN