In [13]:
import pandas as pd
import numpy as np

In [14]:
countries={ 'Austria': 'AT', 'Belgium': 'BE',  'Bulgaria': 'BG', 'Croatia': 'HR',  'Switzerland': 'CH', 'Czech Republic': 'CZ', 'Germany': 'DE', 'Denmark': 'DK', 'Estonia': 'EE', 'Spain': 'ES', 'Finland': 'FI', 'France': 'FR', 'United Kingdom': 'UK', 'Greece': 'GR', 'Hungary': 'HU', 'Ireland': 'IE', 'Italy': 'IT', 'Lithuania': 'LT', 'Latvia': 'LV', 'Montenegro': 'ME','Netherlands': 'NL', 'Norway': 'NO', 'Poland': 'PL', 'Portugal': 'PT', 'Serbia': 'RS', 'Sweden': 'SE', 'Slovenia': 'SI', 'Slovakia': 'SK'}

In [15]:
fuels=['Biomass', 'Fossil Brown coal/Lignite', 'Fossil Coal-derived gas', 'Fossil Gas', 'Fossil Hard coal', 'Fossil Oil', 'Fossil Oil shale', 'Fossil Peat', 'Geothermal', 'Hydro Pumped Storage', 'Hydro Pumped Storage', 'Hydro Run-of-river and poundage', 'Hydro Water Reservoir', 'Marine', 'Nuclear', 'Other', 'Other renewable', 'Solar', 'Waste', 'Wind Offshore', 'Wind Onshore']

# Preparing Load Data

## Making the first,second,third and fourth columns of the dataframe as date,month,year and time

In [16]:
temp=pd.read_csv('../Data Sources/ENTSO-E/Load/Germany.csv')
load_data=pd.DataFrame()
load_data['Day']=temp['Time (CET)'].str[:2]
load_data['Month']=temp['Time (CET)'].str[3:5]
load_data['Year']=temp['Time (CET)'].str[6:10]
load_data['Time']=temp['Time (CET)'].str[11:16]+' - '+temp['Time (CET)'].str[29:35]

## Getting the load data of all countries into a single dataframe

In [17]:
for country,abbr in countries.items():
    temp=pd.read_csv(f'../Data Sources/ENTSO-E/Load/{country}.csv')
    load_data[f'{abbr}']=temp[f'Actual Total Load [MW] - {country} ({abbr})']

In [18]:
load_data.head()

,Day,Month,Year,Time,AT,BE,BG,HR,CH,CZ,...,LV,ME,NL,NO,PL,PT,RS,SE,SI,SK
0,01,01,2019,00:00 - 00:15,6139.0,9122.0,4321.0,1836.0,7037.0,5719.0,...,678.0,418.0,11268.0,15724.0,15012.0,5030.0,5290.0,14597.0,1164.0,2835.0
1,01,01,2019,00:15 - 00:30,6108.0,9060.0,4133.0,1732.0,7096.0,5678.0,...,648.0,404.0,11280.0,15623.0,14467.0,4797.0,5282.0,14375.0,1129.0,2744.0
2,01,01,2019,00:30 - 00:45,6054.0,8964.0,3991.0,1623.0,7244.0,5622.0,...,624.0,376.0,11287.0,15705.0,13774.0,4650.0,5067.0,14153.0,1084.0,2679.0
3,01,01,2019,00:45 - 01:00,5999.0,8747.0,3894.0,1534.0,7443.0,5475.0,...,612.0,349.0,11304.0,15643.0,13406.0,4394.0,4739.0,13896.0,1038.0,2608.0
4,01,01,2019,01:00 - 01:15,5976.0,8729.0,3841.0,1488.0,7353.0,5433.0,...,614.0,331.0,11266.0,15612.0,13216.0,4177.0,4445.0,13955.0,1018.0,2602.0

# Preparing Generation Data

In [19]:
generation_data=pd.DataFrame()
generation_data[['Day','Month','Year','Time']]=load_data[['Day','Month','Year','Time']]

In [22]:
for country,abbr in countries.items():
    temp=pd.read_csv(f'../Data Sources/ENTSO-E/Generation/{country}.csv',low_memory=False)
    for fuel in fuels:
        generation_data[f'{fuel} - {abbr}']=temp[f'{fuel}  - Actual Aggregated [MW]']

In [21]:
generation_data.head()

,Day,Month,Year,Time,Biomass - AT,Fossil Brown coal/Lignite - AT,Fossil Coal-derived gas - AT,Fossil Gas - AT,Fossil Hard coal - AT,Fossil Oil - AT,...,Hydro Run-of-river and poundage - SK,Hydro Water Reservoir - SK,Marine - SK,Nuclear - SK,Other - SK,Other renewable - SK,Solar - SK,Waste - SK,Wind Offshore - SK,Wind Onshore - SK
0,01,01,2019,00:00 - 00:15,304.0,n/e,n/e,1326.0,154.0,0.0,...,295.0,0.0,n/e,1928.0,213.0,65.0,0.0,n/e,n/e,0.0
1,01,01,2019,00:15 - 00:30,304.0,n/e,n/e,1270.0,156.0,0.0,...,267.0,0.0,n/e,1928.0,227.0,65.0,0.0,n/e,n/e,0.0
2,01,01,2019,00:30 - 00:45,304.0,n/e,n/e,1274.0,156.0,0.0,...,279.0,17.0,n/e,1927.0,230.0,65.0,0.0,n/e,n/e,0.0
3,01,01,2019,00:45 - 01:00,304.0,n/e,n/e,1209.0,156.0,0.0,...,275.0,11.0,n/e,1929.0,224.0,64.0,0.0,n/e,n/e,0.0
4,01,01,2019,01:00 - 01:15,304.0,n/e,n/e,1045.0,154.0,0.0,...,266.0,0.0,n/e,1929.0,228.0,65.0,0.0,n/e,n/e,0.0