In [1]:
import pandas as pd
import numpy as np
# import the openpyxl library to read a specific sheet from .xlsx excel file 
import openpyxl

In [57]:
ember_data=pd.read_excel('../Data Sources/Ember/Ember-EU-Electricity-Data-April-2021.xlsx','Data')

In [58]:
ember_data.head()

,Date,Year,Month,Area,Area.Type,Variable,Variable.Type,Generation (GWh),YoY change (%),YoY change (GWh),Cumul. Generation (GWh),Cumul. YoY change (%),Cumul. YoY change (GWh),Demand Flag,Unnamed: 14
0,2018-01-01 00:00:00,2018,1,Austria,EU Country,Demand,Demand,5971.09960,NaN,NaN,5971.09960,NaN,NaN,NaN,NaN
1,2018-01-01 00:00:00,2018,1,Austria,EU Country,Production,Production,5219.27291,NaN,NaN,5219.27291,NaN,NaN,NaN,NaN
2,2018-01-01 00:00:00,2018,1,Austria,EU Country,Net imports,Net imports,594.04598,NaN,NaN,594.04598,NaN,NaN,NaN,NaN
3,2018-01-01 00:00:00,2018,1,Austria,EU Country,Statistical difference,Statistical difference,157.78071,NaN,NaN,157.78071,NaN,NaN,NaN,NaN
4,2018-01-01 00:00:00,2018,1,Austria,EU Country,Gas,Fossil,1143.63320,NaN,NaN,1143.63320,NaN,NaN,NaN,NaN

# Making monthly total values: Monthly total demand, production, net imports, statistical difference, fossil, renewables and waste values of each country

In [60]:
years=list(set(ember_data['Year']))
months=list(set(ember_data['Month']))
areas=list(set(ember_data['Area']))
areas.sort()

In [61]:
ember_data_copy=ember_data.copy()
temp_list=[]
for year in years:
    for month in months:
        for area in areas:
            temp=ember_data_copy.loc[(ember_data_copy['Year']==year)&(ember_data_copy['Month']==month)&(ember_data_copy['Area']==area)].groupby(['Variable.Type'],as_index=False)['Generation (GWh)'].sum()
            for index,row in temp.iterrows():
                temp_list.append([year,month,area,row['Variable.Type'],row['Generation (GWh)']])

In [62]:
monthly_data=pd.DataFrame(temp_list,columns=['Year','Month','Area','Variable.Type','Generation(GWh)'])

In [63]:
monthly_data.iloc[:13,:]

    Year  Month     Area           Variable.Type  Generation(GWh)
0   2018      1  Austria                  Demand      5971.099600
1   2018      1  Austria                  Fossil      1376.468000
2   2018      1  Austria             Net imports       594.045980
3   2018      1  Austria              Production      5219.272910
4   2018      1  Austria              Renewables      3768.404910
5   2018      1  Austria  Statistical difference       157.780710
6   2018      1  Austria                   Waste        74.400000
7   2018      1  Belgium                  Demand      8012.633260
8   2018      1  Belgium                  Fossil      2023.965960
9   2018      1  Belgium             Net imports      1008.743680
10  2018      1  Belgium                 Nuclear      3674.960630
11  2018      1  Belgium              Production      6989.520557
12  2018      1  Belgium              Renewables      1110.248157