In [2]:
import pandas as pd
import numpy as np
import openpyxl

In [5]:
ember_data=pd.read_excel('../Data Sources/Ember/Ember-EU-Electricity-Data-April-2021.xlsx','Data')

In [7]:
ember_data

,Date,Year,Month,Area,Area.Type,Variable,Variable.Type,Generation (GWh),YoY change (%),YoY change (GWh),Cumul. Generation (GWh),Cumul. YoY change (%),Cumul. YoY change (GWh),Demand Flag,Unnamed: 14
0,2018-01-01 00:00:00,2018,1,Austria,EU Country,Demand,Demand,5971.099600,NaN,NaN,5971.099600,NaN,NaN,NaN,NaN
1,2018-01-01 00:00:00,2018,1,Austria,EU Country,Production,Production,5219.272910,NaN,NaN,5219.272910,NaN,NaN,NaN,NaN
2,2018-01-01 00:00:00,2018,1,Austria,EU Country,Net imports,Net imports,594.045980,NaN,NaN,594.045980,NaN,NaN,NaN,NaN
3,2018-01-01 00:00:00,2018,1,Austria,EU Country,Statistical difference,Statistical difference,157.780710,NaN,NaN,157.780710,NaN,NaN,NaN,NaN
4,2018-01-01 00:00:00,2018,1,Austria,EU Country,Gas,Fossil,1143.633200,NaN,NaN,1143.633200,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14161,44287,2021,4,United Kingdom,non EU Country,Bioenergy,Renewables,1376.693000,-5.386509,-78.377500,6540.935008,5.165331,321.266444,NaN,NaN
14162,44287,2021,4,United Kingdom,non EU Country,Hydro,Renewables,319.500500,15.893951,43.817000,1313.105264,-27.418021,-496.028753,NaN,NaN
14163,44287,2021,4,United Kingdom,non EU Country,Solar,Renewables,1574.511000,-2.254433,-36.315000,3266.650912,-8.706244,-311.524685,NaN,NaN
14164,44287,2021,4,United Kingdom,non EU Country,Wind,Renewables,3878.631151,-16.737361,-779.678049,23933.344341,-21.551313,-6574.934634,NaN,NaN
14165,44287,2021,4,United Kingdom,non EU Country,Nuclear,Nuclear,3575.625000,-4.905765,-184.461000,14420.486660,-10.196908,-1637.408842,NaN,NaN