In [1]:
import pandas as pd
import numpy as np
# import the openpyxl library to read a specific sheet from .xlsx excel file 
import openpyxl

In [2]:
ember_data=pd.read_excel('../Data Sources/Ember/Ember-EU-Electricity-Data-April-2021.xlsx','Data')

In [3]:
ember_data=ember_data.loc[(ember_data['Year']==2019)]

In [4]:
ember_data.head()

,Date,Year,Month,Area,Area.Type,Variable,Variable.Type,Generation (GWh),YoY change (%),YoY change (GWh),Cumul. Generation (GWh),Cumul. YoY change (%),Cumul. YoY change (GWh),Demand Flag,Unnamed: 14
3468,2019-01-01 00:00:00,2019,1,Austria,EU Country,Demand,Demand,6225.09920,4.253816,253.99960,6225.09920,4.253816,253.99960,NaN,NaN
3469,2019-01-01 00:00:00,2019,1,Austria,EU Country,Production,Production,5304.32848,1.629644,85.05557,5304.32848,1.629644,85.05557,NaN,NaN
3470,2019-01-01 00:00:00,2019,1,Austria,EU Country,Net imports,Net imports,530.97699,-10.616853,-63.06899,530.97699,-10.616853,-63.06899,NaN,NaN
3471,2019-01-01 00:00:00,2019,1,Austria,EU Country,Statistical difference,Statistical difference,389.79373,147.047773,232.01302,389.79373,147.047773,232.01302,NaN,NaN
3472,2019-01-01 00:00:00,2019,1,Austria,EU Country,Gas,Fossil,1551.05920,35.625583,407.42600,1551.05920,35.625583,407.42600,NaN,NaN

# Making monthly total values: Monthly total demand, production, net imports, statistical difference, fossil, renewables and waste values of each country

In [8]:
# years=list(set(ember_data['Year']))
year=2019
months=list(set(ember_data['Month']))
areas=list(set(ember_data['Area']))
areas.sort()

In [9]:
ember_data_copy=ember_data.copy()
temp_list=[]
# for year in years:
for month in months:
    for area in areas:
        temp=ember_data_copy.loc[(ember_data_copy['Month']==month)&(ember_data_copy['Area']==area)].groupby(['Variable.Type'],as_index=False)['Generation (GWh)'].sum()
        for index,row in temp.iterrows():
            temp_list.append([year,month,area,row['Variable.Type'],row['Generation (GWh)']])

In [10]:
monthly_data=pd.DataFrame(temp_list,columns=['Year','Month','Area','Variable.Type','Generation(GWh)'])

In [11]:
monthly_data.iloc[:13,:]

    Year  Month     Area           Variable.Type  Generation(GWh)
0   2019      1  Austria                  Demand      6225.099200
1   2019      1  Austria                  Fossil      1743.381200
2   2019      1  Austria             Net imports       530.976990
3   2019      1  Austria              Production      5304.328480
4   2019      1  Austria              Renewables      3486.547280
5   2019      1  Austria  Statistical difference       389.793730
6   2019      1  Austria                   Waste        74.400000
7   2019      1  Belgium                  Demand      8224.588000
8   2019      1  Belgium                  Fossil      3286.832050
9   2019      1  Belgium             Net imports       748.465420
10  2019      1  Belgium                 Nuclear      2919.259750
11  2019      1  Belgium              Production      7480.358733
12  2019      1  Belgium              Renewables      1087.732073