In [1]:
import pandas as pd
import numpy as np
import openpyxl

In [2]:
ember_data=pd.read_excel('../Data Sources/Ember/Ember-EU-Electricity-Data-April-2021.xlsx','Data')

In [12]:
ember_data.iloc[:13,:]

,Date,Year,Month,Area,Area.Type,Variable,Variable.Type,Generation (GWh),YoY change (%),YoY change (GWh),Cumul. Generation (GWh),Cumul. YoY change (%),Cumul. YoY change (GWh),Demand Flag,Unnamed: 14
0,2018-01-01 00:00:00,2018,1,Austria,EU Country,Demand,Demand,5971.09960,NaN,NaN,5971.09960,NaN,NaN,NaN,NaN
1,2018-01-01 00:00:00,2018,1,Austria,EU Country,Production,Production,5219.27291,NaN,NaN,5219.27291,NaN,NaN,NaN,NaN
2,2018-01-01 00:00:00,2018,1,Austria,EU Country,Net imports,Net imports,594.04598,NaN,NaN,594.04598,NaN,NaN,NaN,NaN
3,2018-01-01 00:00:00,2018,1,Austria,EU Country,Statistical difference,Statistical difference,157.78071,NaN,NaN,157.78071,NaN,NaN,NaN,NaN
4,2018-01-01 00:00:00,2018,1,Austria,EU Country,Gas,Fossil,1143.63320,NaN,NaN,1143.63320,NaN,NaN,NaN,NaN
5,2018-01-01 00:00:00,2018,1,Austria,EU Country,Hard Coal,Fossil,216.46680,NaN,NaN,216.46680,NaN,NaN,NaN,NaN
6,2018-01-01 00:00:00,2018,1,Austria,EU Country,Other fossil,Fossil,16.36800,NaN,NaN,16.36800,NaN,NaN,NaN,NaN
7,2018-01-01 00:00:00,2018,1,Austria,EU Country,Bioenergy,Renewables,237.24400,NaN,NaN,237.24400,NaN,NaN,NaN,NaN
8,2018-01-01 00:00:00,2018,1,Austria,EU Country,Hydro,Renewables,2897.37320,NaN,NaN,2897.37320,NaN,NaN,NaN,NaN
9,2018-01-01 00:00:00,2018,1,Austria,EU Country,Other renewables,Renewables,0.05208,NaN,NaN,0.05208,NaN,NaN,NaN,NaN
10,2018-01-01 00:00:00,2018,1,Austria,EU Country,Solar,Renewables,33.98499,NaN,NaN,33.98499,NaN,NaN,NaN,NaN
11,2018-01-01 00:00:00,2018,1,Austria,EU Country,Wind,Renewables,599.75064,NaN,NaN,599.75064,NaN,NaN,NaN,NaN
12,2018-01-01 00:00:00,2018,1,Austria,EU Country,Waste,Waste,74.40000,NaN,NaN,74.40000,NaN,NaN,NaN,NaN

In [81]:
dp=ember_data.groupby(['Year','Month','Area','Variable.Type'])['Generation (GWh)'].sum()

In [86]:
df=dp.to_frame()
df

                                                  Generation (GWh)
Year Month Area           Variable.Type
2018 1     Austria        Demand                       5971.099600
                          Fossil                       1376.468000
                          Net imports                   594.045980
                          Production                   5219.272910
                          Renewables                   3768.404910
...                                                            ...
2021 4     United Kingdom Net imports                   569.161165
                          Nuclear                      3575.625000
                          Production                  21602.246662
                          Renewables                   7149.335651
                          Statistical difference       2007.627145

[8600 rows x 1 columns]