In [1]:
import pandas as pd
import numpy as np
import import_ipynb
import data_preperation as dp

importing Jupyter notebook from data_preperation.ipynb

In [2]:
countries={ 'Austria': 'AT', 'Belgium': 'BE',  'Bulgaria': 'BG', 'Switzerland': 'CH', 'Czech Republic': 'CZ', 'Croatia': 'HR',  'Germany': 'DE', 'Denmark': 'DK', 'Estonia': 'EE', 'Spain': 'ES', 'Finland': 'FI', 'France': 'FR',  'Greece': 'GR', 'Hungary': 'HU', 'Ireland': 'IE', 'Italy': 'IT', 'Lithuania': 'LT', 'Latvia': 'LV', 'Montenegro': 'ME','Netherlands': 'NL', 'Norway': 'NO', 'Poland': 'PL', 'Portugal': 'PT', 'Serbia': 'RS', 'Sweden': 'SE', 'Slovenia': 'SI', 'Slovakia': 'SK', 'United Kingdom': 'UK'}

In [7]:
load_data=dp.load(countries)
load_data

,Day,Month,Year,Time,AT,BE,BG,CH,CZ,HR,...,ME,NL,NO,PL,PT,RS,SE,SI,SK,UK
0,01,01,2019,00:00 - 01:00,6075.00,8973.25,4321.0,7037.0,5719.0,1836.0,...,418.0,11284.75,15724.0,15012.0,5030.0,5290.0,14597.0,1164.0,2835.0,27068.5
1,01,01,2019,01:00 - 02:00,5852.75,8542.75,4133.0,7096.0,5678.0,1732.0,...,404.0,11193.75,15623.0,14467.0,4797.0,5282.0,14375.0,1129.0,2744.0,27831.5
2,01,01,2019,02:00 - 03:00,5619.25,8077.50,3991.0,7244.0,5622.0,1623.0,...,376.0,10933.25,15705.0,13774.0,4650.0,5067.0,14153.0,1084.0,2679.0,27634.0
3,01,01,2019,03:00 - 04:00,5324.00,7823.25,3894.0,7443.0,5475.0,1534.0,...,349.0,10666.75,15643.0,13406.0,4394.0,4739.0,13896.0,1038.0,2608.0,25184.5
4,01,01,2019,04:00 - 05:00,5273.50,7636.25,3841.0,7353.0,5433.0,1488.0,...,331.0,10413.25,15612.0,13216.0,4177.0,4445.0,13955.0,1018.0,2602.0,22708.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8756,31,12,2019,19:00 - 20:00,7150.75,9639.50,5203.0,7655.0,6596.0,2521.0,...,539.0,13517.25,17868.0,18115.0,6895.0,6339.0,17367.0,1574.0,3152.0,43441.0
8757,31,12,2019,20:00 - 21:00,6748.00,9368.50,4760.0,7358.0,6256.0,2359.0,...,518.0,12799.25,17343.0,16998.0,6790.0,5983.0,16704.0,1483.0,3080.0,41165.5
8758,31,12,2019,21:00 - 22:00,6429.25,9104.50,4613.0,7062.0,6192.0,2252.0,...,490.0,12064.25,17013.0,16239.0,6194.0,5623.0,16189.0,1366.0,2986.0,38375.5
8759,31,12,2019,22:00 - 23:00,6492.50,9345.75,4558.0,6828.0,6070.0,2112.0,...,464.0,11641.25,16530.0,15784.0,5708.0,5447.0,15975.0,1300.0,2965.0,35579.0
8760,31,12,2019,23:00 - 00:00,6206.00,9391.75,4410.0,6884.0,5823.0,1963.0,...,448.0,11417.75,16180.0,15146.0,5486.0,5439.0,15416.0,1254.0,2980.0,31913.0

In [8]:
generation_data=dp.generation(countries)
generation_data

,Day,Month,Year,Time,AT - Biomass,AT - Fossil Gas,AT - Fossil Hard coal,AT - Fossil Oil,AT - Geothermal,AT - Hydro Pumped Storage,...,UK - Fossil Oil,UK - Hydro Pumped Storage,UK - Hydro Pumped Storage,UK - Hydro Run-of-river and poundage,UK - Nuclear,UK - Other,UK - Solar,UK - Wind Offshore,UK - Wind Onshore,UK - Total
0,01,01,2019,00:00 - 01:00,304.0,1269.75,155.50,0.0,0.0,0.00,...,3.0,0.0,NaN,428.5,6941.5,66.0,0.0,3131.0,6527.5,25144.5
1,01,01,2019,01:00 - 02:00,304.0,935.25,154.75,0.0,0.0,0.00,...,0.0,52.5,NaN,404.0,6899.0,64.0,0.0,3198.0,6201.5,23967.5
2,01,01,2019,02:00 - 03:00,304.0,611.00,155.25,0.0,0.0,0.00,...,0.0,0.0,NaN,373.5,6830.5,63.0,0.0,3277.5,6095.0,23512.0
3,01,01,2019,03:00 - 04:00,304.0,568.00,155.25,0.0,0.0,0.00,...,0.0,0.0,NaN,349.0,6826.0,63.0,0.0,3158.0,5736.5,22352.5
4,01,01,2019,04:00 - 05:00,302.0,443.50,154.25,0.0,0.0,0.00,...,0.0,0.0,NaN,324.5,6818.0,64.0,0.0,2985.0,5357.0,21751.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8756,31,12,2019,19:00 - 20:00,220.0,1797.50,162.50,0.0,0.0,1473.75,...,0.0,1051.0,NaN,931.0,6957.0,194.5,0.0,1823.5,3011.5,36604.0
8757,31,12,2019,20:00 - 21:00,220.0,1805.25,162.00,0.0,0.0,676.00,...,0.0,0.0,NaN,863.5,6956.5,155.0,0.0,1843.5,3122.5,34348.0
8758,31,12,2019,21:00 - 22:00,220.0,1778.00,163.25,0.0,0.0,341.00,...,0.0,0.0,NaN,824.0,6960.0,127.0,0.0,1960.5,3269.0,31251.5
8759,31,12,2019,22:00 - 23:00,218.0,1710.50,153.75,0.0,0.0,183.00,...,0.0,0.0,NaN,701.0,6962.0,124.5,0.0,1793.0,3606.0,28597.0
8760,31,12,2019,23:00 - 00:00,217.0,1650.00,144.75,0.0,0.0,194.75,...,0.0,0.0,NaN,651.0,6960.0,126.0,0.0,2081.5,3783.5,27646.0