In [1]:
import pandas as pd
import numpy as np
import import_ipynb
import data_preperation as dp
import internal_inconsistencies as ii

importing Jupyter notebook from data_preperation.ipynb
importing Jupyter notebook from internal_inconsistencies.ipynb

In [2]:
countries={ 'Austria': 'AT', 'Belgium': 'BE',  'Bulgaria': 'BG', 'Switzerland': 'CH', 'Czech Republic': 'CZ', 'Croatia': 'HR',  'Germany': 'DE', 'Denmark': 'DK', 'Estonia': 'EE', 'Spain': 'ES', 'Finland': 'FI', 'France': 'FR',  'Greece': 'GR', 'Hungary': 'HU', 'Ireland': 'IE', 'Italy': 'IT', 'Lithuania': 'LT', 'Latvia': 'LV', 'Montenegro': 'ME','Netherlands': 'NL', 'Norway': 'NO', 'Poland': 'PL', 'Portugal': 'PT', 'Serbia': 'RS', 'Sweden': 'SE', 'Slovenia': 'SI', 'Slovakia': 'SK', 'United Kingdom': 'UK'}

abbr_list=list(countries.values())

In [3]:
load_data=dp.load(countries)
load_data.head()

,Day,Month,Year,Time,AT,BE,BG,CH,CZ,HR,...,ME,NL,NO,PL,PT,RS,SE,SI,SK,UK
0,01,01,2019,00:00 - 01:00,6075.00,8973.25,4321.0,7037.0,5719.0,1836.0,...,418.0,11284.75,15724.0,15012.0,5030.0,5290.0,14597.0,1164.0,2835.0,27068.5
1,01,01,2019,01:00 - 02:00,5852.75,8542.75,4133.0,7096.0,5678.0,1732.0,...,404.0,11193.75,15623.0,14467.0,4797.0,5282.0,14375.0,1129.0,2744.0,27831.5
2,01,01,2019,02:00 - 03:00,5619.25,8077.50,3991.0,7244.0,5622.0,1623.0,...,376.0,10933.25,15705.0,13774.0,4650.0,5067.0,14153.0,1084.0,2679.0,27634.0
3,01,01,2019,03:00 - 04:00,5324.00,7823.25,3894.0,7443.0,5475.0,1534.0,...,349.0,10666.75,15643.0,13406.0,4394.0,4739.0,13896.0,1038.0,2608.0,25184.5
4,01,01,2019,04:00 - 05:00,5273.50,7636.25,3841.0,7353.0,5433.0,1488.0,...,331.0,10413.25,15612.0,13216.0,4177.0,4445.0,13955.0,1018.0,2602.0,22708.5

In [4]:
generation_data=dp.generation(countries)
generation_data.head()

,Day,Month,Year,Time,AT - Biomass,AT - Fossil Gas,AT - Fossil Hard coal,AT - Fossil Oil,AT - Geothermal,AT - Hydro Pumped Storage,...,UK - Fossil Oil,UK - Hydro Pumped Storage,UK - Hydro Pumped Storage,UK - Hydro Run-of-river and poundage,UK - Nuclear,UK - Other,UK - Solar,UK - Wind Offshore,UK - Wind Onshore,UK - Total
0,01,01,2019,00:00 - 01:00,304.0,1269.75,155.50,0.0,0.0,0.0,...,3.0,0.0,NaN,428.5,6941.5,66.0,0.0,3131.0,6527.5,25144.5
1,01,01,2019,01:00 - 02:00,304.0,935.25,154.75,0.0,0.0,0.0,...,0.0,52.5,NaN,404.0,6899.0,64.0,0.0,3198.0,6201.5,23967.5
2,01,01,2019,02:00 - 03:00,304.0,611.00,155.25,0.0,0.0,0.0,...,0.0,0.0,NaN,373.5,6830.5,63.0,0.0,3277.5,6095.0,23512.0
3,01,01,2019,03:00 - 04:00,304.0,568.00,155.25,0.0,0.0,0.0,...,0.0,0.0,NaN,349.0,6826.0,63.0,0.0,3158.0,5736.5,22352.5
4,01,01,2019,04:00 - 05:00,302.0,443.50,154.25,0.0,0.0,0.0,...,0.0,0.0,NaN,324.5,6818.0,64.0,0.0,2985.0,5357.0,21751.5

In [7]:
import_export_using_load_gen=ii.import_export_using_load_gen(load_data,generation_data,abbr_list)
import_export_using_load_gen.head()

,Day,Month,Year,Time,AT - [gen - load],AT - import/export,BE - [gen - load],BE - import/export,BG - [gen - load],BG - import/export,...,RS - [gen - load],RS - import/export,SE - [gen - load],SE - import/export,SI - [gen - load],SI - import/export,SK - [gen - load],SK - import/export,UK - [gen - load],UK - import/export
0,01,01,2019,00:00 - 01:00,458.0,Net Export,-2747.25,Net Import,826.0,Net Export,...,-1561.0,Net Import,2855.0,Net Export,-100.0,Net Import,235.0,Net Export,-1924.0,Net Import
1,01,01,2019,01:00 - 02:00,329.5,Net Export,-2248.75,Net Import,815.0,Net Export,...,-1607.0,Net Import,2710.0,Net Export,18.0,Net Export,240.0,Net Export,-3864.0,Net Import
2,01,01,2019,02:00 - 03:00,-27.0,Net Import,-1874.50,Net Import,771.0,Net Export,...,-1512.0,Net Import,2672.0,Net Export,-17.0,Net Import,322.0,Net Export,-4122.0,Net Import
3,01,01,2019,03:00 - 04:00,418.0,Net Export,-1686.25,Net Import,851.0,Net Export,...,-1169.0,Net Import,2889.0,Net Export,28.0,Net Export,469.0,Net Export,-2832.0,Net Import
4,01,01,2019,04:00 - 05:00,319.5,Net Export,-1131.25,Net Import,888.0,Net Export,...,-835.0,Net Import,3055.0,Net Export,22.0,Net Export,472.0,Net Export,-957.0,Net Import