In [1]:
import numpy as np
import pandas as pd

In [2]:
fuels=['Biomass', 'Fossil Brown coal/Lignite', 'Fossil Coal-derived gas', 'Fossil Gas', 'Fossil Hard coal', 'Fossil Oil', 'Fossil Oil shale', 'Fossil Peat', 'Geothermal', 'Hydro Pumped Storage', 'Hydro Pumped Storage', 'Hydro Run-of-river and poundage', 'Hydro Water Reservoir', 'Marine', 'Nuclear', 'Other', 'Other renewable', 'Solar', 'Waste', 'Wind Offshore', 'Wind Onshore']

In [123]:
df=pd.read_csv('../Data Sources/ENTSO-E/Transmission/DK-NL.csv')

In [124]:
df = df.replace(['n/e',np.nan] ,0)

In [121]:
df['Tot'] = pd.to_numeric(df.iloc[:,1])*(-1) + pd.to_numeric(df.iloc[:,2])

In [122]:
df

,Time (CET),Netherlands (NL) > Denmark (DK) [MW],Denmark (DK) > Netherlands (NL) [MW],Tot
0,01.01.2019 00:00 - 01.01.2019 01:00,0,0,0.0
1,01.01.2019 01:00 - 01.01.2019 02:00,0,0,0.0
2,01.01.2019 02:00 - 01.01.2019 03:00,0,0,0.0
3,01.01.2019 03:00 - 01.01.2019 04:00,0,0,0.0
4,01.01.2019 04:00 - 01.01.2019 05:00,0,0,0.0
...,...,...,...,...
8756,31.12.2019 19:00 - 31.12.2019 20:00,0.00,680.00,680.0
8757,31.12.2019 20:00 - 31.12.2019 21:00,0.00,679.00,679.0
8758,31.12.2019 21:00 - 31.12.2019 22:00,0.00,652.00,652.0
8759,31.12.2019 22:00 - 31.12.2019 23:00,0.00,650.00,650.0
8760,31.12.2019 23:00 - 01.01.2020 00:00,0.00,679.00,679.0

In [127]:
df.iloc[:,1].apply(type)

0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
8756    <class 'str'>
8757    <class 'str'>
8758    <class 'str'>
8759    <class 'str'>
8760    <class 'str'>
Name: Netherlands (NL) > Denmark (DK) [MW], Length: 8761, dtype: object

In [105]:
pd.to_numeric(df.iloc[:,1],downcast='float')

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
8756    0.0
8757    0.0
8758    0.0
8759    0.0
8760    0.0
Name: Netherlands (NL) > Denmark (DK) [MW], Length: 8761, dtype: float32